<a class="btn btn-success btn-lg btn-block" href="#add">Dodaj nowy wpis</a>
<a class="btn btn-default btn-lg btn-block" href="#gallery">Galeria</a>
<a class="btn btn-default btn-lg btn-block" href="#entries">Wpisy</a>
<a class="btn btn-default btn-lg btn-block" href="#mycollection">Moje lakiery</a>
<a class="btn btn-default btn-lg btn-block" href="#links">Obserwowane strony</a>
<a class="btn btn-warning btn-lg btn-block" href="/admin/logout">Wyloguj</a>