<a href="#/" class="btn-default btn pull-right">Powrót</a>
<div text-angular ng-model="content"></div>

<div>
    <h2>
        Podglad
    </h2>

    <div ng-bind-html="content"></div>
</div>
        <div>
            <div class="form-group">
                <label for="title">Tytuł</label>
                <input type="text" class="form-control" ng-model="title" id="title" >
            </div>
            <div class="form-group">
                <label for="subtitle">Podtytuł</label>
                <input type="text" class="form-control" ng-model="subtitle" id="subtitle" >
            </div>
            <div class="form-group">
                <label for="category">Kategoria</label>
                <input type="text" class="form-control" ng-model="category" id="category" >
            </div>
            <div class="form-group">
                <label for="tags">Tagi oddzielone przecinkiem</label>
                <input type="text" class="form-control" ng-model="tags" id="tags">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="publish"> Publikuj
                </label>
            </div>
        </div>
<input class="btn btn-default" type="button" ng-click="save()" value="Zapisz">