<a href="#/" class="btn-default btn pull-right">Powrót</a>
<div>
    <div ng-repeat="article in articles">
        <div class="row">
            <div class="col-lg-6">
                <h3>{{article.title}}</h3>
                <h4>{{article.subtitle}}</h4>
                {{article.publish ? "Opublikowany" : "Nieopublikowany"}}
            </div>
            <div class="col-lg-6">
                <div>
                    {{article.date.toLocaleString()}}
                    </div>
                <div>
                    {{article.category}}
                </div>
                <div>
                    {{article.tags.join(',')}}
                </div>
                <div>
                    <input class="btn btn-default" type="button" ng-click="edit(article._id)" value="Edytuj">
                    <input class="btn btn-danger" type="button" ng-click="remove(article._id)" value="Usuń">
                </div>
            </div>
        </div>
        <hr/>
    </div>
</div>