<a href="#/" class="btn-default btn pull-right">Powrót</a>
<div class="gallery">
    <ul>
        <li ng-repeat="image in images">
            <div class="row">
                <div class="col-lg-3">
                    <img ng-src="/image/{{image._id}}"/>
                </div>
                <div class="col-lg-4" ng-bind="image._id"></div>
                <div class="col-lg-4">
                     <span class="btn btn-danger glyphicon glyphicon-remove" ng-click="remove(image._id)">
                    </span>
                </div>
            </div>
        </li>
    </ul>
</div>
<div>
<form method="post" action="/admin/image" enctype="multipart/form-data">
    <input type="file" name="file" class="form-control btn btn-success" value="Dodaj">
    <input type="submit" value="Wyslij">
</form>
</div>