<a href="#/" class="btn-default btn pull-right">Powrót</a>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-hover">
            <tr>
                <th>
                    Nazwa wyświetlana
                </th>
                <th>
                    Adres(http://google.pl)
                </th>
                <th>
                    Akcje
                </th>
            </tr>
            <tr ng-repeat="item in links">
                <td>
                   <input class="form-control" type="text" ng-model="item.name"/>
                </td>
                <td>
                   <input class="form-control" type="text" ng-model="item.url"/>
                </td>
                <td>
                    <span class="btn btn-danger glyphicon glyphicon-remove" ng-click="remove(item._id)">
                    </span>
                </td>
            </tr>
        </table>
                    <span class="btn btn-success glyphicon glyphicon-plus" ng-click="add()">
                        Dodaj
                    </span>
                    <span class="btn btn-success glyphicon glyphicon-save" ng-click="save()">
                        Zapisz
                    </span>

    </div>
</div>