extends layout

block content
    div(data-ng-app='app')
        div(data-ng-view)
    script(src='/javascripts/admin/app.js')
    script(src='/javascripts/admin/controllers.js')
    script(src='/javascripts/admin/directives.js')
    script(src='/javascripts/admin/services.js')