extends layout

block content
    div(data-ng-app='app')
        div(data-ng-view)
    script(src='/javascripts/app/app.js')
    script(src='/javascripts/app/controllers.js')
    script(src='/javascripts/app/directives.js')
    script(src='/javascripts/app/services.js')