doctype html
html
    head
        title Kurcia1
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/libs/textAngular/src/textAngular.css')
        link(rel='stylesheet', href='/libs/font-awesome/css/font-awesome.css')
        script(src='/libs/angular/angular.js')
        script(src='/libs/angular-route/angular-route.js')
        script(src='/libs/textAngular/dist/textAngular.min.js')
        script(src='/libs/textAngular/dist/textAngular-rangy.min.js')
        script(src='/libs/textAngular/dist/textAngular-sanitize.min.js')
        script(src='/javascripts/common.js')
    body.body
        nav.unselectable
            div.row
                ul.col-sm-6.col-sm-offset-3.col-xs-11.col-xs-offset-1
                    a(href='/#')
                        li home
                    a(href='/#about')
                        li about
            div.row.pause
        div.content.container-fluid
            header.title.row
                div.col-sm-6.unselectable
                    h1 Kurcia1
                div.col-sm-6.hidden-xs
                    div.pull-right
                        input.form-control(placeholder='Search',type='search')
            section.layout
                block content
        aside.toTop
            i.glyphicon.glyphicon-menu-up
        footer
            section.summary
                div.content
                    div
                        div
                        div.pause
            section.copyright.unselectable Olga &copy;
