extends layout

block content
    form(action='/login',method='post')
        div
            h2 Login
            div.form-group
                label(for='email') Nazwa użytkownika
                input#email.form-control(name='username')
            div.form-group
                label(for='password') Hasło
                input#password.form-control(type='password',name='password')
            button.btn.btn-default(type='submit') Zaloguj


