body.body {
    background-color: #dedede;
}

nav {
    position: fixed;
    height: 50px;
    background-color: #292929;
    width: 100%;
    z-index: 5;
}

nav ul {
    padding-left: 0;
    margin-bottom: 0;
}

nav ul > a {
    color: #c4c4c4;
    text-decoration: none;
    transition: color 0.15s;
    line-height: 50px;

}

nav ul > a:hover {
    color: #ffffff;
}

nav ul > a > li {
    display: inline-block;
    text-transform: uppercase;
    width: 60px;
}

.pause {
    background-color: #0092C2;
    height: 4px;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-select: none;
    user-select: none;
    cursor: default;
}

.content {
    width: 966px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.layout {
    background-color: #ffffff;
    padding: 20px;
    min-height: 700px;
}

.title {
    height: 100px;
}

.title input {
    margin-top: 30px;
}

.title h1 {
    margin-top: 25px;
    font-size: 50px;
}

.toTop {
    background-color: #000000;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 35px;
    height: 40px;
    border-radius: 5px;
    color: #c4c4c4;
    transition: color 0.15s;
    cursor: pointer;
}

.toTop:hover {
    color: #ffffff;
}

footer .copyright {
    height: 60px;
    background-color: #0092C2;
    color: white;
    line-height: 60px;
    text-align: center;
}

footer .summary {
    background-color: #292929;
    height: 100px;
}

footer .summary .content {
    padding: 0 15px;
}

footer .summary .content > div {
    height: 20px;
    background-color: white;
}

footer .summary .content > div > div:first-of-type {
    height: 16px;
}

aside article {
    color: rgb(161, 160, 160);
    padding-left: 10px;
}

aside #links a {
    color: rgb(161, 160, 160);
    text-decoration: none;
    font-weight: bold;
}

aside #links ul {
    list-style-type: none;
    padding-left: 0;
}

.gallery img{
    width: 200px;
}
.gallery ul{
    list-style-type: none;
}

.gallery .row{
    margin-bottom: 10px;
}

@media all and (max-width: 966px) {
    .content {
        width: 100%;
        padding-top: 50px;
    }

}