<div class="col-lg-8">

</div>
<aside class="col-lg-4">
    <section>
        <h3>
            O mnie
        </h3>
        <article>
            Ja
        </article>
    </section>
    <section>
        <h3>
            Ostatnie wpisy
        </h3>
        <article>

        </article>
    </section>
    <section>
        <h3>Odwiedziło mnie już</h3>
        <article>
            {{counter}}
        </article>
    </section>
    <section id="links">
        <h3>
            Obserwowane strony
        </h3>
        <article>
            <ul ng-repeat="i in links">
                <a ng-href="{{i.url}}">
                    <li ng-bind="i.name">

                    </li>
                </a>
            </ul>
        </article>
    </section>
</aside>

